.ContactForm label{
    display: block;
}
.ContactFormConteiner{
    width: 100%;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;

}
.ContactFormConteiner form{
    width:  100%;
    height: 100%;
}
.ContactForm input[type="text"]{
    width: 30rem;
    padding: 0.5em;
    border:  2px rgb(128, 128, 128) solid;
    margin-bottom: 1em;
    font-size: 1.1rem;
}
.ContactForm textarea{
    width: 30rem;
    padding: 0.5em;
    border:  2px rgb(128, 128, 128) solid;
    font-size: 1.3rem;
}
.ContactForm button{
    padding: 0.5rem;
    margin-top:1em;
    border: none;
    border:  2px rgb(128, 128, 128) solid;
    font-weight: bold;
    cursor: pointer;
}
.ContactFormConteiner form{
    background-color: rgb(19, 19, 19);
    padding: 1em;
}
.ContactForm label{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.3em;
    color:#a3a3a3;
}