.navBarScroll {
    display: grid;
    grid-template-columns: 4px repeat(3, calc((100% - 48px - 20px * 2) / 3)) 4px;
    gap: 20px;
    padding-block: 34px;
    background-color: rgb(14 17 22);
}
.logo-hero{
    grid-column: 2;
}
.button-about{
   grid-column: 3/4;
}
.button-portafolio{
    grid-row: 2;
    grid-column: 4/5;
}
.button-experience{
    grid-row: 2;
    grid-column: 3/4;
}
.button-education{
    grid-row: 2;
    grid-column: 2/3;
}
.button-contact{
    grid-column: 4/5;
}
.navBarScroll button{
    padding: 16px;
    border: 1px solid rgb(241 246 251);
    background-color: rgb(14 17 22);
    color: rgb(241 246 251);
    border-radius: 32px;
    cursor: pointer;
    text-align: center;
    font-size: 0.9em;
}
.logo-hero {
    background-color: hsl(220, 60%, 2%);
    text-align: center;
    padding: 16px;
    border: 1px solid rgb(241 246 251);
    color: rgb(241 246 251);
    text-decoration: none;
    text-transform: uppercase;
    width: 70px;
    border-radius: 10px;
    font-weight: 900;
    cursor: pointer;
} 
@media (width >=50.625em) {
    /* 50.625em = 810px(si 1em = 16px) */
    .navBarScroll {
        grid-template-columns: 4px repeat(6, calc((100% - 48px - 20px * 5) / 6)) 4px;
    }
    .logo-hero{
        grid-column: 2;
    }
    .button-about{
       grid-column: 3/4;
    }
    .button-contact{
        grid-column: 4/5;
    }
    .button-education{
        grid-column: 5/6;
        grid-row: 1;
    }
    .button-experience{
        grid-column: 6/7;
        grid-row: 1;
    }
    .button-portafolio{
        background-color: aqua!important;
        grid-row: 1;
        grid-column: 7/8;
    }
    
}
@media (width >=90em) {
    .navBarScroll {
        grid-template-columns: 4px repeat(12, calc((100% - 48px - 20px * 11) / 12)) 4px;
        align-items: center;
    }
    .logo-hero{
        grid-column: 2;
    }
    .button-about{
       grid-column: 9/10;
    }
    .button-portafolio{
        grid-column: 13/14;
    }
    .button-experience{
        grid-column: 12/13;
    }
    .button-education{
        grid-column: 11/12;
    }
    .button-contact{
        grid-column: 10/11;
    }
}

